.App {
  text-align: center;
}

html{
    background-color: #262626;
    color: white;
}

.logo{
    background-image: url('./assets/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    margin-bottom: 20px;
}

button, input{
    border: none;
}
