.pokemon_data_wrapper{
    text-align: center;
    margin: 50px 0;
}

.pokemon_data_container{
    max-width: 800px;
    margin: 0 auto 40px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.pokemon_box1, .pokemon_box2{
    width: 50%;
}

.pokemon_box1 img{
    width: 280px;
    height: 250px;
}

.pokemon_box1 h3{
    margin: 20px 0;
    font-family: 'Bungee', cursive;
    line-height: 30px;
}

.pokemonbox2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.attributes_container{
    display: flex;
    justify-content: center;
}

.attributes_container div{
    margin: 0 10px;
}

.evolution_container{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
}

.circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -1px -1px 4px rgba(0, 0, 0, 0.25), 1px 1px 4px rgba(0, 0, 0, 0.25);
}

.circle img{
    width: 65px;
    height: 65px;
}

.stats_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
}

.stats_container div{
    width: 33%;
    margin-bottom: 10px;
}

p{
    font-weight: bold;
}

.back-btn{
    font-family: 'Bungee', cursive;
    background-color: #B3B3B3;
    color: #262626;
    padding: 3px 25px;
}

.pokemon_data_container, .back-btn{
    box-shadow: -4px -4px 4px rgba(0, 0, 0, 0.25), 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}

.circle, .back-btn{
    transition: transform .2s;
}

.circle:hover, .back-btn:hover{
    transform: scale(1.1);
}

@media screen and (max-width: 810px){
    .pokemon_data_container{
        width: 95%;
        flex-direction: column;
        align-items: center;
    }

    .pokemon_box1, .pokemon_box2{
        margin: 20px 0;
        min-width: 400px;
    }
}

@media screen and (max-width: 460px){
    .pokemon_data_container{
        padding: 0;
    }

    .pokemon_box1 img{
        width: 200px;
    }
    .pokemon_box1, .pokemon_box2{
        margin: 20px 0;
        min-width: 280px;
    }

    .circle{
        width: 80px;
        height: 80px;
    }

    .circle img{
        width: 60px;
        height: 60px;
    }
}