*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

html{
    font-family: 'Roboto', sans-serif;
    background-color: #262626;
    color: #B3B3B3;
    scroll-behavior: smooth;
}

.logo{
    background-image: url('./assets/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    margin: 20px 0;
}

h3{
    font-family: 'Bungee', cursive;
    font-weight: lighter;
}

a{
    text-decoration: none;
    color: #B3B3B3;
}

h3{
    font-family: 'Bungee', cursive;
}

button, input{
    border: none;
}
